<li class="grid-item">
    {{#if backdrop_path}}
    <img class="grid-img" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="{{title}}"
        data-poster="{{poster_path}}" />
    {{else}}
    <img class="grid-img" src="http://placehold.it/500x280">
    {{/if}}
    <div class='instance'>
        <p class='like'>vote_count-{{vote_count}}</p>
    </div>
</li>